h1 {
    font-style: italic;
    margin-left: 60px;
}

h2 b {
    font-weight: bold;
    color: gold;
    font-style: italic;
    border: 1px solid;
    padding: 7px;
    border-radius: 50px;
    background: rgb(0, 0, 0);
}

.thumb-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border-radius: 50px;
}

.main {
    border-radius: 20px;
    background: rgb(253, 253, 253);
    padding: 10px;
}

.btn-primary {
    background-color: black;
    border-color: gold;
    color: gold;
    font-weight: bold;
}