<div class="mt-5 pt-5 pb-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <h2>Quem Somos?</h2>
        <p class="pr-5">Nossa loja é epecializada na venda de produtos eletrônicos importados.</p>
        <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i
              class="fa fa-linkedin-square"></i></a></p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-lg-0 mt-sm-3 links">Redes Sociais</h4>
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f fa-2x"
            style="color: #3b5998;"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"
            style="color: #ac2bac;"></i></a>
        <a href="https://api.whatsapp.com/send?phone=5521995870140&text=Ol%C3%A1
        " target="_blank"><i class="fab fa-whatsapp fa-2x" style="color: #25d366;"></i></a>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Localização</h4>
        <p>Campo Grande, RJ</p>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(21) 99999-9999</p>
        <p><i class="fa fa-envelope-o mr-3"></i>contato@contato.com</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class=""><small class="text-white-50">© {{ano}}. Todos os direitos
            reservados.</small></p>
      </div>
    </div>
  </div>
</div>