<div class="main">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12">
                <h2><b>Ofertas da Semana</b></h2>
                <div class="container-fluid">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Encontre as melhores ofertas"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                    </form>
                </div>
                <br><br>
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="assets/img/mouse.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content d-flex justify-content-center">
                                            <h4>Mouse Gamer</h4>
                                            <p class="item-price"><b>R$ 369,00</b></p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="assets/img/fone.jpg" class="img-fluid" alt="Headphone">
                                        </div>
                                        <div class="thumb-content d-flex justify-content-center">
                                            <h4>Fone Bluetooth</h4>
                                            <p class="item-price"><b>R$ 69,90</b></p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="assets/img/placa-mae.jpg" class="img-fluid" alt="Macbook">
                                        </div>
                                        <div class="thumb-content d-flex justify-content-center">
                                            <h4>Placa Mãe</h4>
                                            <p class="item-price"><b>R $649,00</b></p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="assets/img/teclado.jpg" class="img-fluid" alt="Nikon">
                                        </div>
                                        <div class="thumb-content d-flex justify-content-center">
                                            <h4>Teclado Gamer</h4>
                                            <p class="item-price"><b>R$ 298,99</b></p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="assets/img/fonte.jpg" class="img-fluid" alt="Nikon">
                                        </div>
                                        <div class="thumb-content d-flex justify-content-center">
                                            <h4>Fonte 650w</h4>
                                            <p class="item-price"><b>R$ 430,00</b></p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="assets/img/mousepad.png" class="img-fluid" alt="Nikon">
                                        </div>
                                        <div class="thumb-content d-flex justify-content-center">
                                            <h4>Mousepad</h4>
                                            <p class="item-price"><b>R$ 64,90</b></p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="assets/img/placa-video.jpg" class="img-fluid" alt="Nikon">
                                        </div>
                                        <div class="thumb-content d-flex justify-content-center">
                                            <h4>Placa de Video gtx 1050ti</h4>
                                            <p class="item-price"><b>R$ 1.900,00</b></p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="assets/img/gabinete.jpg" class="img-fluid" alt="Nikon">
                                        </div>
                                        <div class="thumb-content d-flex justify-content-center ">
                                            <h4>Gabinete Gamer</h4>
                                            <p class="item-price"><b>R$ 375,00</b></p>
                                            <a href="#" class="btn btn-primary">Comprar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>